apiVersion: apps/v1
kind: Deployment
metadata:
    name: {{ name }}
    namespace: {{ namespace }}
    labels:
        app: {{ name }}
spec:
    replicas: 1
    selector:
        matchLabels:
            app: {{ name }}
    template:
        metadata:
            labels:
                app: {{ name }}
        spec:
            serviceAccountName: krules-system
            containers:
              - name: webhook
                image: {{ digest }}
                ports:
                  - containerPort: 8443
                    name: webhook-api
                {% if debug_procevents_sink %}
                env:
                  - name: PUBLISH_PROCEVENTS_LEVEL
                    value: "2"
                  - name: PUBLISH_PROCEVENTS_MATCHING
                    value: "*"
                  - name: K_PROCEVENTS_SINK
                    value: {{ debug_procevents_sink }}
                {% endif %}
                volumeMounts:
                  - name: {{ name }}-tls
                    mountPath: /run/secrets/tls
                    readOnly: true

            volumes:
              - name: {{ name }}-tls
                secret:
                    secretName: {{ name }}-tls
---
apiVersion: v1
kind: Service
metadata:
  name: {{ name }}
  namespace: {{ namespace}}
spec:
  selector:
    app: {{ name }}
  ports:
    - port: 443
      targetPort: webhook-api

---
apiVersion: eventing.knative.dev/v1
kind: Broker
metadata:
  name: default
  namespace: {{ namespace }}
---
apiVersion: sources.knative.dev/v1
kind: SinkBinding
metadata:
 name: {{ name }}
 namespace: {{ namespace }}
spec:
 subject:
   apiVersion: apps/v1
   kind: Deployment
   selector:
     matchLabels:
       app: {{ name }}
 sink:
   ref:
     apiVersion: eventing.knative.dev/v1beta1
     kind: Broker
     namespace: {{ namespace }}
     name: default
---