[submodule "Starting material/krules-project-template"]
	path = Starting material/krules-project-template
	url = https://github.com/airspot-dev/krules-project-template
[submodule "Core libraries/krules-core"]
	path = Core libraries/krules-core
	url = https://github.com/airspot-dev/krules-core
[submodule "Core libraries/krules-dispatcher-cloudevents"]
	path = Core libraries/krules-dispatcher-cloudevents
	url = https://github.com/airspot-dev/krules-dispatcher-cloudevents
[submodule "Core libraries/krules-env"]
	path = Core libraries/krules-env
	url = https://github.com/airspot-dev/krules-env
[submodule "Core libraries/krules-controllers"]
	path = Core libraries/krules-controllers
	url = https://github.com/airspot-dev/krules-controllers
[submodule "Subjects storage/krules-subjects-storage-redis"]
	path = Subjects storage/krules-subjects-storage-redis
	url = https://github.com/airspot-dev/krules-subjects-storage-redis
[submodule "Subjects storage/krules-subjects-storage-mongodb"]
	path = Subjects storage/krules-subjects-storage-mongodb
	url = https://github.com/airspot-dev/krules-subjects-storage-mongodb
[submodule "Subjects storage/krules-subjects-storage-k8s"]
	path = Subjects storage/krules-subjects-storage-k8s
	url = https://github.com/airspot-dev/krules-subjects-storage-k8s
[submodule "Miscellaneous/rulesset-image-base"]
	path = Miscellaneous/rulesset-image-base
	url = https://github.com/airspot-dev/rulesset-image-base
[submodule "Miscellaneous/django-krules-scheduler"]
	path = Miscellaneous/django-krules-scheduler
	url = https://github.com/airspot-dev/django-krules-scheduler
[submodule "Miscellaneous/django-signals-cloudevents"]
	path = Miscellaneous/django-signals-cloudevents
	url = https://github.com/airspot-dev/django-signals-cloudevents
[submodule "Miscellaneous/django-krules-procevents"]
	path = Miscellaneous/django-krules-procevents
	url = https://github.com/airspot-dev/django-krules-procevents
[submodule "Code examples/iot-demo"]
	path = Code examples/iot-demo
	url = https://github.com/airspot-dev/iot-demo
[submodule "Code examples/knative-bluegreen-demo"]
	path = Code examples/knative-bluegreen-demo
	url = https://github.com/airspot-dev/knative-bluegreen-demo
[submodule "code-examples/iot-demo"]
	path = code-examples/iot-demo
	url = https://github.com/airspot-dev/iot-demo
[submodule "code-examples/knative-bluegreen-demo"]
	path = code-examples/knative-bluegreen-demo
	url = https://github.com/airspot-dev/knative-bluegreen-demo
[submodule "core-libraries/krules-core"]
	path = core-libraries/krules-core
	url = https://github.com/airspot-dev/krules-core
[submodule "core-libraries/krules-dispatcher-cloudevents"]
	path = core-libraries/krules-dispatcher-cloudevents
	url = https://github.com/airspot-dev/krules-dispatcher-cloudevents
[submodule "core-libraries/krules-env"]
	path = core-libraries/krules-env
	url = https://github.com/airspot-dev/krules-env
[submodule "core-libraries/krules-controllers"]
	path = core-libraries/krules-controllers
	url = https://github.com/airspot-dev/krules-controllers
[submodule "miscellanoeus/rulesset-image-base"]
	path = miscellanoeus/rulesset-image-base
	url = https://github.com/airspot-dev/rulesset-image-base
[submodule "miscellanoeus/django-krules-scheduler"]
	path = miscellanoeus/django-krules-scheduler
	url = https://github.com/airspot-dev/django-krules-scheduler
[submodule "miscellanoeus/django-signals-cloudevents"]
	path = miscellanoeus/django-signals-cloudevents
	url = https://github.com/airspot-dev/django-signals-cloudevents
[submodule "miscellanoeus/django-krules-procevents"]
	path = miscellanoeus/django-krules-procevents
	url = https://github.com/airspot-dev/django-krules-procevents
[submodule "starting-material/krules-project-template"]
	path = starting-material/krules-project-template
	url = https://github.com/airspot-dev/krules-project-template
[submodule "subjects-storage-backends/krules-subjects-storage-redis"]
	path = subjects-storage-backends/krules-subjects-storage-redis
	url = https://github.com/airspot-dev/krules-subjects-storage-redis
[submodule "subjects-storage-backends/krules-subjects-storage-mongodb"]
	path = subjects-storage-backends/krules-subjects-storage-mongodb
	url = https://github.com/airspot-dev/krules-subjects-storage-mongodb
[submodule "subjects-storage-backends/krules-subjects-storage-k8s"]
	path = subjects-storage-backends/krules-subjects-storage-k8s
	url = https://github.com/airspot-dev/krules-subjects-storage-k8s
[submodule "miscellanoeus/krules-flask-env"]
	path = miscellanoeus/krules-flask-env
	url = https://github.com/airspot-dev/krules-flask-env.git
