[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
krules-dev-support = {editable = true, path = "./dev_support/krules-dev-support"}
twine = "*"
dependency-injector = "==4.32.2"
django = "*"
django-signals-cloudevents = "*"

[requires]
python_version = "3.8"
