apiVersion: eventing.knative.dev/v1
kind: Trigger
metadata:
  name: {{ app_name }}-schedule
  namespace: {{ namespace }}
  labels:
    "krules.dev/app": {{ app_name }}
spec:
  broker: default
  filter:
    attributes:
      type: krules.schedule
  subscriber:
    ref:
{% if service_api == "knative" %}
      apiVersion: serving.knative.dev/v1
{% elif service_api == "base" %}
      apiVersion: v1
{% endif %}
      kind: Service
      name: {{ app_name }}
---
apiVersion: eventing.knative.dev/v1
kind: Trigger
metadata:
  name: {{ app_name }}-unschedule
  namespace: {{ namespace }}
  labels:
    "krules.dev/app": {{ app_name }}
spec:
  broker: default
  filter:
    attributes:
      type: krules.unschedule
  subscriber:
    ref:
{% if service_api == "knative" %}
      apiVersion: serving.knative.dev/v1
{% elif service_api == "base" %}
      apiVersion: v1
{% endif %}
      kind: Service
      name: {{ app_name }}
---
apiVersion: eventing.knative.dev/v1
kind: Trigger
metadata:
  name: {{ app_name }}-set-period
  namespace: {{ namespace }}
  labels:
    "krules.dev/app": {{ app_name }}
spec:
  broker: default
  filter:
    attributes:
      type: subject-property-changed
      propertyname: period
      djangomodel: schedulerconfig
  subscriber:
    ref:
{% if service_api == "knative" %}
      apiVersion: serving.knative.dev/v1
{% elif service_api == "base" %}
      apiVersion: v1
{% endif %}
      kind: Service
      name: {{ app_name }}
---