apiVersion: apps/v1
kind: Deployment
metadata: 
    name: {{ name }}
    namespace: {{ namespace }}
    labels: 
        app: {{ name }}
spec:
    replicas: 1
    selector:
        matchLabels: 
            app: name
    template:
        metadata:
            labels:
                app: {{ name }}
        spec:
            securityContext:
                runAsNonRoot: true
                runAsUser: 8850
            containers:
              - name: webhook
                image: {{ digest }}
                ports: 
                  - containerPort: 8443
                    name: webhook-api
                volumeMounts:
                  - name: {{ name }}-tls
                    mountPath: /run/secrets/tls
                    readOnly: true

            volumes:
              - name: {{ name }}-tls
                secret:
                    secretName: {{ name }}-tls


