apiVersion: krules.airspot.dev/v1alpha1
kind: ConfigurationProvider
metadata:
  name: config-service-{{ app_name }}
  namespace: {{ namespace }}
spec:
  key: services.{{ app_name }}
  appliesTo:
    krules.airspot.dev/app: {{ app_name }}
  data: {}
  container: {}
