apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: {{ name }}
webhooks:
  - name: {{ name }}.{{ namespace }}.svc
    sideEffects: None
    matchPolicy: Equivalent
    failurePolicy: Fail
    timeoutSeconds: 5
    admissionReviewVersions:
      - v1
      - v1beta1
    namespaceSelector:
      matchExpressions:
        - { key: dev.krules.airspot.dev/injection, operator: In, values: [enabled] }
    clientConfig:
      service:
        name: {{ name }}
        namespace: {{ namespace }}
        path: "/mutate"
      #caBundle: v.CA_PEM_B64
    rules:
      - apiGroups: [""]
        apiVersions: ["v1"]
        resources: ["pods"]
        scope: "Namespaced"
        operations:
          - CREATE
        #- UPDATE
      - apiGroups: ["apps"]
        apiVersions: ["v1"]
        resources: ["deployments"]
        scope: "Namespaced"
        operations:
          - CREATE
      - apiGroups: [ "serving.knative.dev" ]
        apiVersions: [ "v1" ]
        resources: [ "services" ]
        scope: Namespaced
        operations:
          - CREATE
        #- UPDATE
#      - apiGroups: [""]
#        apiVersions: ["v1"]
#        resources: ["namespaces"]
#        scope: "Cluster"
#        operations:
#          - CREATE
#          - UPDATE

---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: {{ name }}
webhooks:
  - name: {{ name }}.{{ namespace }}.svc
    sideEffects: None
    matchPolicy: Equivalent
    failurePolicy: Fail
    timeoutSeconds: 5
    admissionReviewVersions:
      - v1
      - v1beta1
    namespaceSelector:
      matchExpressions:
        - { key: dev.krules.airspot.dev/injection, operator: In, values: [enabled] }
    clientConfig:
      service:
        name: {{ name }}
        namespace: {{ namespace }}
        path: "/validate"
      #caBundle: v.CA_PEM_B64
    rules:
#      - apiGroups: ["serving.knative.dev"]
#        apiVersions: [ "*" ]
#        resources: ["services"]
#        scope: "Namespaced"
#        operations:
#          - CREATE
#          - UPDATE
#          - DELETE
      - apiGroups: [""]
        apiVersions: ["v1"]
        resources: ["pods"]
        scope: "Namespaced"
        operations:
          - CREATE
          - UPDATE
#          - DELETE
      - apiGroups: ["krules.airspot.dev"]
        apiVersions: ["*"]
        resources: ["configurationproviders"]
        scope: "Namespaced"
        operations:
          - CREATE
          - UPDATE
          - DELETE
      - apiGroups: [""]
        apiVersions: ["v1"]
        resources: ["configmaps"]
        operations:
          - DELETE
#      - apiGroups: ["apps"]
#        apiVersions: ["v1"]
#        resources: ["deployments"]
#        scope: "Namespaced"
#        operations:
#          - UPDATE
#          - DELETE
#      - apiGroups: [ "serving.knative.dev" ]
#        apiVersions: [ "v1" ]
#        resources: [ "services" ]
#        scope: Namespaced
#        operations:
#          - UPDATE
#          - DELETE
#      - apiGroups: [""]
#        apiVersions: ["v1"]
#        resources: ["namespaces"]
#        scope: "Cluster"
#        operations:
#          - CREATE
#          - UPDATE

