apiVersion: eventing.knative.dev/v1
kind: Trigger
metadata:
  name: {{ app_name }}
  namespace: {{ namespace }}
  labels:
    "krules.dev/app": {{ app_name }}
spec:
  broker: procevents
  filter:
    attributes:
      type: rule-proc-event
  subscriber:
    ref:
{% if service_api == "knative" %}
      apiVersion: serving.knative.dev/v1
{% elif service_api == "base" %}
      apiVersion: v1
{% endif %}
      kind: Service
      name: {{ app_name }}
---
