
apiVersion: skaffold/v3alpha1
kind: Config
build:
  artifacts:
    - image: {{ app_name }}
  {% if use_cloudbuild%}
  googleCloudBuild:
    projectId: {{ project_id }}
  {% else %}
  local:
    useDockerCLI: false
    useBuildkit: false
  {% endif %}
deploy:
  {% if use_cloudrun %}
  cloudrun: {}
  {% else %}
  kubectl: {}
  {% endif %}
profiles:
{% for target in targets %}
  - name: {{ target }}
    manifests:
      rawYaml:
       - k8s/{{target}}/*.yaml
{% endfor %}
