apiVersion: sources.knative.dev/v1
kind: ApiServerSource
metadata:
  name: {{ app_name }}
  namespace: {{ namespace }}
spec:
  serviceAccountName: {{ app_name }}-apiserversource
  mode: Resource
  resources:
    - apiVersion: serving.knative.dev/v1
      kind: Service
    - apiVersion: apps/v1
      kind: Deployment
    - apiVersion: apps/v1
      kind: ReplicaSet
    - apiVersion: v1
      kind: Pod
    - apiVersion: krules.dev/v1alpha1
      kind: ConfigurationProvider
    - apiVersion: krules.dev/v1alpha1
      kind: ServiceConfigurationProvider
#    - apiVersion: krules.dev/v1alpha1
#      kind: FeatureConfigurationProvider
    - apiVersion: tekton.dev/v1beta1
      kind: TaskRun
  sink:
    ref:
      apiVersion: v1
      kind: Service
      name: {{ app_name }}
