# API SERVER SOURCE
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ app_name }}-apiserversource
  namespace: {{ namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ app_name }}-apiserversource
  namespace: {{ namespace }}
rules:
- apiGroups:
    - serving.knative.dev
  resources:
    - services
  verbs:
    - list
    - get
    - watch
- apiGroups:
    - apps
  resources:
    - deployments
  verbs:
    - list
    - get
    - watch
- apiGroups:
    - krules.dev
  resources:
    - configurationproviders
    - serviceconfigurationproviders
    - featureconfigurationproviders
  verbs:
    - list
    - get
    - watch
- apiGroups:
    - "tekton.dev"
  resources:
    - taskruns
  verbs:
    - list
    - get
    - watch
---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ app_name }}-apiserversource
  namespace: {{ namespace }}
subjects:
- kind: ServiceAccount
  name: {{ app_name }}-apiserversource
  namespace: {{ namespace }}
roleRef:
  kind: Role
  name: {{ app_name }}-apiserversource
  apiGroup: rbac.authorization.k8s.io
---
# SERVICE
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ app_name }}-service
  namespace: {{ namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ app_name }}-service
  namespace: {{ namespace }}
rules:
- apiGroups:
    - ""
  resources:
    - configmaps
  verbs:
    - list
    - get
    - create
- apiGroups:
    - "tekton.dev"
  resources:
    - taskruns
    #- pipelineruns
  verbs:
    - list
    - get
    - create
    - delete
- apiGroups:
    - "serving.knative.dev"
  resources:
    - services
  verbs:
    - list
    - get
    - create
    - patch
- apiGroups:
    - apps
  resources:
    - deployments
  verbs:
    - list
    - get
    - create
    - patch

- apiGroups:
    - krules.dev
  resources:
    - configurationproviders
  verbs:
    - list
    - get
---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ app_name }}-service
subjects:
- kind: ServiceAccount
  name: {{ app_name }}-service
  namespace: {{ namespace }}
roleRef:
  kind: Role
  name: {{ app_name }}-service
  apiGroup: rbac.authorization.k8s.io
---
# TEKTON
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ app_name }}-tekton
  namespace: {{ namespace }}
