apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: build-and-push
  annotations:
    description: >-
      Build and push service image
spec:
  params:
    - name: imageRepo
      type: string
    - name: imagePrefix
      type: string
    - name: serviceName
      type: string
    - name: cmBuildSource
      type: string
  results:
    - name: digest
      description: Image digest
  steps:
    # solves issues related to using the mounted cm directly as the build context
    - name: populate-context
      image: {{ populate_context_image }}
      command:
        - /usr/local/bin/python
      args:
        - "populate-context.py"
        - "/source-cm"
        - "/source"
      volumeMounts:
        - name: build-source-cm
          mountPath: /source-cm
        - name: source
          mountPath: /source
    - name: build-and-push
      image: gcr.io/kaniko-project/executor
      command:
        - /kaniko/executor
      args:
        - "--dockerfile=Dockerfile"
        - "--destination=$(params.imageRepo)/$(params.imagePrefix)-$(params.serviceName)"
        - "--context=/build-context"
        - "--image-name-with-digest-file=$(results.digest.path)"
      volumeMounts:
        - name: source
          mountPath: /build-context
#        - name: docker-config
#          mountPath: /kaniko/.docker
  volumes:
    - name: build-source-cm
      configMap:
        name: $(params.cmBuildSource)
    - name: source
      emptyDir: {}
#    - name: docker-config
#      configMap:
#        name: docker-config