apiVersion: krules.airspot.dev/v1alpha1
kind: ConfigurationProvider
metadata:
  name: config-krules-subjects-redis
  namespace: {{ namespace }}
spec:
  key: subjects-backends.redis
  appliesTo:
    krules.airspot.dev/type:
      - ruleset
      - generic
  data:
    url: redis://:$REDIS_AUTH@redis:6379/1
    key_prefix: {{ app_name }}
  container:
    env:
    - name: REDIS_AUTH
      valueFrom:
        secretKeyRef:
          name: redis-auth
          key: auth-string
