apiVersion: v1
kind: Namespace
metadata:
  labels:
    krules.dev/injection: enabled
  name: {{ namespace }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  annotations:
    iam.gke.io/gcp-service-account: "{{ project_name }}-{{ target }}-default@{{ gcp_project }}.iam.gserviceaccount.com"
  name: default
  namespace: {{ namespace }}