# apiVersion: v1
# data:
#   REDIS_AUTH:
#   REDIS_HOST:
#   REDIS_USER: ""
# kind: Secret
# metadata:
#   name: redis-auth
#   namespace: {{ namespace }}
# type: Opaque
# ---

apiVersion: krules.dev/v1alpha1
kind: ConfigurationProvider
metadata:
  name: config-krules-subjects-redis
  namespace: {{ namespace }}
spec:
  key: subjects-backends.redis
  appliesTo:
    krules.dev/type:
      - ruleset
      - generic
  data:
    url: redis://$REDIS_USER:$REDIS_AUTH@$REDIS_HOST:6379/0
    key_prefix: {{ project_name }}-{{ target }}
  container:
    envFrom:
    - secretRef:
        name: redis-auth












