apiVersion: eventing.knative.dev/v1
kind: Trigger
metadata:
  name: {{ app_name }}
  namespace: {{ namespace }}
spec:
  broker: default
  filter:
    attributes:
      type: my-type
  subscriber:
    ref:
      apiVersion: v1
      kind: Service
      name: {{ app_name }}
      namespace: {{ namespace }}
